/* Customize SweetAlert2 buttons */
.swal2-styled.swal2-confirm {
  background-color: #3085d6;
  border: none;
  border-radius: 4px;
}

.swal2-styled.swal2-cancel {
  background-color: #aaa;
  border: none;
  border-radius: 4px;
}
